/* Global styles */
body {
    background-image: url('sh4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: maroon;
    color: white;
    font-family: Georgia, serif;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Icon bar styles */
.icon-bar {
    background-color: #f9d5e1;
    text-align: left;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

.icon-bar ul {
    list-style-type: none;
    padding: 0;
}

.icon-bar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-bar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.icon-bar span {
    color: maroon;
    font-size: 14px;
}

/* Custom border styles */
.border {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}

/* Style to make the embedded widget smaller */
.elfsight-app-50bff9a9-1e99-4e3d-b464-3457440e1afd {
    max-width: 100%;
    height: auto;
}

/* Style the widget wrapper to position it to the right side */
.widget-wrapper {
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0; /* Adjust this value to control the distance from the right side */
}
