body {
    background-image: url('abandon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: maroon;
    color: white;
    font-family: Georgia;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style for the container */
.icon-bar {
    background-color: #0a0606; /* Background color of the icon bar */
    text-align: center; /* Center-align the icons */
    
    /* Custom border styles */
    border: 2px solid #FFFFFF; /* Border style (2px width, white color) */
    border-radius: 10px; /* Rounded border corners (adjust as needed) */
    padding: 10px; /* Padding around the icon bar */
    
    /* Display icons vertically */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align icons horizontally */

    /* Style for each icon */
    margin: 10px; /* Add spacing between icons */
}
