/* Global styles */
body {
    background-image: url('sh4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: maroon;
    color: white;
    font-family: Georgia, serif;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style the audio player container */
#audio-player {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-top-right-radius: 0;
}

/* Icon bar styles */

.icon-bar {
    background-color: #f9d5e1;
    text-align: left;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

.icon-bar ul {
    list-style-type: none;
    padding: 0;
}

.icon-bar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-bar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.icon-bar span {
    color: maroon;
    font-size: 14px;
}

/* Custom border styles */
.border {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}

.hobbies-border {
    border: 2px solid maroon; /* Customize the border style */
    padding: 20px; /* Add some padding to create space around the content */
    margin: 20px; /* Add margin to separate it from other sections */
}

.introduction-border {
    border: 2px solid maroon; /* Customize the border style */
    padding: 20px; /* Add some padding to create space around the content */
    margin: 20px; /* Add margin to separate it from other sections */
}