body {
    background-image: url('2444901_7e627.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: maroon;
    color: white;
    font-family: Georgia;
}
h1 {
    color: white;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style the audio player container */
p {
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Style the audio player */
#audio-player {
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin: 0 auto;
    display: block;
    border-top-right-radius: 0; 
}

/* Style the line break */
br {
    margin-top: 10px; 
}
